@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
}
body,html{
  font-family: 'Poppins', sans-serif;
}
.nextspace-container{
  padding: 0 10%;
}
/*----header----*/
header{
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.2);
  margin-bottom: 20px;
}
.nav__links{
  display: flex;
  list-style: none;
  
}
header nav li{
  margin: 0 10px;
}
.nav__links li:first-child{
  margin-left: 0;
}
.nav__links li:last-child{
  margin-right: 0;
}
.header-logo{
  cursor: pointer;
  width: 55px;

}

li a button{
  font-size: 16px;
  color: #222;
  text-decoration: none;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: black;
}
.nav__links li a:hover {
  color: #1ab4b0;
}
.signup{
  padding: 5px 10px;
    background-color: rgba(245,253,253,1.5);
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.signup:hover{
  background-color: rgba(245,253,253,0.5);
}

/*---coworkspace---*/
.coworkspace{ 
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.coworkspace-content{
  width: 40%;
}
.coworkspace-content__title{
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}
.coworkspace-content__p{
  font-size: 13px;
  margin-bottom: 15px;
  
}

.coworkspace-content__image {
  width: 50%;
}

.coworkspace-content__image img{
  width: 100%;
}

#coworkspace-form{
  box-shadow: 0px 2px 10px rgba(0,0,0,.2);
  border-radius: 15px;
  width: 60%;
  padding: 20px;
}
.location-input{
  position: relative;
}

.location-input i{
  position: absolute;
  left: 15px;
  top: 18px;
  padding: 10px 8px;
}

.inputfield{
  border: 1px #dcddda solid;
  width: 100%;
  color: #444;
  font-size: 12px;
  padding:  .6em 1.4em .5em .8em;
  box-sizing: border-box;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 40px;
}

.custom-select{
  display: flex;
  justify-content: space-between;
}
.sel1{
  
    font-size: 10px;
    color: #444;
    padding: .6em 1.4em .5em .8em;
    width:120px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}
 
.sel1::-ms-expand {
  display: none;
}
.sel1:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

#start{
  width: 70%;
}
.checkgrp{
  margin-left: 20px;
  
}

.btn{
  box-shadow: none;
  width: 90%;
  padding: 8px 25px;
  border: none;
  border-radius: 10px;
  font-size: medium;
  color: white;
  background-color: #5C40EB;
 margin-left:20px;
}
/*----spaces----*/
.spaces-title {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
  font-size: 20px;
}
.spaces-card{
  display: flex;
  justify-content: space-between;
  
} 
.spaces-content img{
  width: 100%;

}
.space-card__content{
 padding: 5px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.spaces-content{
  box-shadow: 1px -1px 2px 1px rgba(0,0,0,.2);
  border-radius: 5px;
  width: 30%;
  margin: 10px 0px;
}

/*---what-we-offer---*/
.what-we-offer{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  margin:20px 0 40px;
}
.what-we-offer__container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.what-we-offer__content{
  position: relative;
  width: 30%;
  box-shadow: 0px 2px 10px rgba(0,0,0,.2);
  border-radius: 5px;
}
.what-we-offer__content i{
  position: absolute;
  left: 0;
  top: 18px;
  padding: 0px 5px
}
.what-we-offer__title, .what-we-offer__p{
  font-family: 'Poppins', sans-serif;
  padding:5px 70px 10px;
  font-size: 13px;
  }

/*---- other-links ----*/

.other-links{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -1px 0px 0px rgba(0,0,0,.3);
  width: 100%;
}

.other-links__box{
 margin-top: 30px;
 padding: 0 10%;
}
.other-links__list li{
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.currency{
  padding: 8px 35px;
  border: 1px #dcddda solid;
  border-radius: 5px;
  width: 77%;
  margin-right: 30px;
}
.currency-logo{
  position: absolute;
  margin-left: 16px;
  margin-top: 8px;
}
.currency-logo img{
  width: 20px;
  height: 17px;
}
/*---- footer----*/
.footer-container{
  display: flex;
  justify-content: space-between;
}
.footer-container div{
  padding: 0 10%;
  margin-top: 10px;
  font-size: 12px;
}

.social-media-icon-list li{
  list-style-type: none;
  display: inline-block;
}

/*----building-container__image-----*/

.building-container__image{
  width: 100%;
}
.building-container__image img{
  width: 100%;
  margin-bottom: 3rem;
}

/*-----building container----*/
.building-container{
  display: flex;
  justify-content: space-between;
}
.building-container__content{
  width: 100%;
}
.building-container__title{
  padding: 0px 0px;
}
.building-container__cont{
width: 79%;
font-size: 13px;
margin-bottom: 20px;
}

.checkgrp2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.checkgrp2__title{
  font-size: 16px;
  
}
.checkgrp-content{
  font-size: 13px; 
  box-shadow:0px 2px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  width: 25%;
  padding: 10px;
}
.checkgrp-content2{
  margin-right: 330px;
}
.building-container__map{
width: 70%;
}
.building-container__map img{
  width: 70%;
  /* padding-left: 130px; */

  }
/*---image group---*/
.opening-hours{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.opening-hours__image1{
  width: 17%;
  height: 150px;
  border: none;
  border-radius: 5px;
}
.opening-hours__image2{
  margin-right: 440px;
}
.opening-hours_card{
  box-shadow:0px 2px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  padding: 10px 20px;
  width: 20%;
}

/*---staff info---*/
.staff-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.staff-info img{
  width: 40%;
  border-radius: 8px;
}
.staff-info__card{
  box-shadow:0px 2px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  padding: 10px 30px;
  width: 20%;
}
.staff-info__btns{
  list-style: none;
}
.staff-info__btns li{
  display: inline-block;
  padding: 10px 8px;
}

.staff-info__btns li button{
  text-decoration: none;
  color: black;
  padding: 6px;
  border: 1px solid #444;
  background-color: rgba(253,253,253,1.5);
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  
  font-size: 10px;
}
.staff-info__btns li button:hover{
  background-color: rgba(118,96,222,1);
}
.staff-info__duration{
  margin-top: 30px;
}
.staff-info__duration-input{
  border: 1px #dcddda solid;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  margin-bottom: 18px;
}
.reserve__btn{
  color: white;
  padding: 5px;
  border: none;
  width:100%;
  text-align: center;
  background-color: rgba(118,96,222,1);
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}
.reserve__btn:hover{
  background-color: rgba(118,96,222,.5);
}

 @media only screen and (max-width: 320px){
  header{
  width: 50vh;
  padding: 0 20%;
  }
  .coworkspace-content{
    width: 50vh;
    margin-bottom: 15px;
    background-color: gold;
  }
 }
@media only screen and (max-width:768px){
  
  header{
    flex-direction: column;
    padding: 0 10%;
  }
  .header-logo{
    width: 70px;
    margin-bottom: 15px;
  }
  .nav__links{
margin-bottom: 10px;
  }
  .nav__links li{
    font-size:15px;
    margin: 0 9px;
  }
  .signup{
    padding: 1px 0;
    width: 80px;
    border-radius: 13px;
    font-size: 15px;
    
  }
  .coworkspace{
    flex-direction:column;
    
  }
  .coworkspace-content__image{
    width: 100%;
    margin: 0 20px;
  }
  .coworkspace-content{
    width: 100%;
    margin: 0 20px 30px;
  }
  .coworkspace-content__title{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .coworkspace-content__p{
    margin-bottom: 15px;
  }
  
  .spaces-card{
    flex-direction: column;
  } 

  .spaces-content{
    width: 76%;
    margin: 20px 20px;
  } 
  
  .what-we-offer__container{
    display: flex;
    flex-direction: column;
  }
  
  .what-we-offer__content{
    margin: 10px 20px;
    width: 80%;
  }
  
  .other-links{

    flex-direction: column;
  }
  .other-links__box{
    margin: 10px 0px;
  }
  .currency{
    width: 70%;
  
  }
  .footer-container{
    display: flex;
    flex-direction: column;
  }

  .building-container__image img{
    width: 100%;
  }
  .building-container__map img{
    padding-right:  200px;
  }
  .building-container{
    flex-direction: column;
  }
  .checkgrp2{
    flex-direction: column;
  }
  .checkgrp-content2{
    margin-top: 20px;
  }
  .opening-hours{
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .opening-hours__image1{
    width: 50%;
    
  }
  .opening-hours__image2{
    margin: 20px 0;
  }
  .opening-hours_card{
    width: 50%;
  }
  .staff-info{
    flex-direction: column;
    width: 100%;
  }
  
  .staff-info img{
    width: 100%;
    margin-bottom: 20px;
  }
  .staff-info__card{
    width: 60%;
  }
  .staff-info__duration-input{
    width: 100%;
  }
  .reserve__btn{
    width:100%;
  }
}

@media only screen and (max-width:1100px){
  .coworkspace-content__image{
    width: 100%;
  }
  .coworkspace-content{
    width: 100%;
  }

  .spaces-content{
    width: 30%;}

    .what-we-offer__content{
      width: 30%;
    }
    
    .checkgrp-content{
      width: 100%;
    }
    .checkgrp-content2{
      margin-left: 20px;
    }
    
    
}